<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <nz-steps>
        <nz-step [nzTitle]="'部位选择'" [nzStatus]="'finish'">
          <ng-template #nzIcon>
            <i class="anticon anticon-user-add"></i>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'疾病症状'"  [nzStatus]="'wait'">
          <ng-template #nzIcon>
            <i class="anticon anticon-search"></i>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'诊断结果'"  [nzStatus]="'wait'">
          <ng-template #nzIcon>
            <i class="anticon anticon-file-text"></i>
          </ng-template>
        </nz-step>
      </nz-steps>
      <br>
      <br>
      <br>
      <div nz-row>
        <div nz-col [nzSpan]="6">

        </div>
        <div nz-col [nzSpan]="12">


          <div nz-row>
            <button nz-button [nzType]="'default'" style="left: 75%" routerLink="/search_symptom">
              <i class="anticon anticon-right"></i>
              下一步
            </button>
          </div>
        </div>
        <div nz-col [nzSpan]="6">

        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
