<!--The content below is only a placeholder and can be replaced.-->


<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <nz-steps [(nzCurrent)]="current" [nzSize]="'small'">
        <nz-step [nzTitle]="'部位选择'"></nz-step>
        <nz-step [nzTitle]="'疾病症状'"></nz-step>
        <nz-step [nzTitle]="'诊断结果'"></nz-step>
      </nz-steps>
      <br>
      <div nz-row>
        <div nz-col [nzSpan]="6">

        </div>
        <div nz-col [nzSpan]="12">
          <div nz-row>
            <nz-transfer
              [nzDataSource]="list"
              [nzTitles]="['备选症状', '已选症状']"
              [nzOperations]="['添加', '移除']"
              [nzListStyle]="{'width.px': 350, 'height.px': 300}"
              nzShowSearch
              [nzFilterOption]="filterOption"
              (nzSearchChange)="search($event)"
              (nzSelectChange)="select($event)"
              (nzChange)="change($event)">
            </nz-transfer>
          </div>
          <br>
          <button nz-button [nzType]="'dashed'">
            <i class="anticon anticon-plus"></i>
            添加并发症
          </button>
        </div>
        <div nz-col [nzSpan]="6">

        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
