<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>

  </nz-header>
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">

    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <nz-steps>
        <nz-step [nzTitle]="'症状选择'"  [nzStatus]="'finish'">
          <ng-template #nzIcon>
            <i class="anticon anticon-user-add"></i>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'病程与并发症'"  [nzStatus]="'finish'">
          <ng-template #nzIcon>
            <i class="anticon anticon-search"></i>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'诊断结果'"  [nzStatus]="'process'">
          <ng-template #nzIcon>
            <i class="anticon anticon-file-text"></i>
          </ng-template>
        </nz-step>
      </nz-steps>
      <br>
      <br>
      <br>
      <div nz-row>
        <div nz-col [nzSpan]="8">

        </div>
        <div nz-col [nzSpan]="12" >
          <nz-table #nzTable [nzDataSource]="relatedDisease"
                    nzIsPagination="false">
            <thead nz-thead>
            <tr>
              <th nz-th nzExpand>
              </th>
              <th nz-th>
                疾病
              </th>
              <th nz-th>
                概率
              </th>
              <th nz-th>
                相关科室
              </th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
              <tr nz-tbody-tr >
                <td nz-td *ngIf="!data.child_disease"></td>
                <td nz-td nzExpand *ngIf="data.child_disease">
                  <nz-row-expand-icon [(nzExpand)]="data.expand"></nz-row-expand-icon>
                </td>
                <td nz-td>
                  {{data.Name}}
                </td>
                <td nz-td>
                  {{data.possibility}}
                </td>
                <td nz-td>
                  <nz-tag  style="margin-bottom: 1%" [nzColor]="'cyan'" *ngFor="let dep of data.department">
                    {{posDep[dep].Name}}
                  </nz-tag>
                </td>
              </tr>
              <tr nz-tbody-tr *ngIf="data.expand">
                <td nz-td></td>
                <td nz-td colspan="4">
                  &nbsp;
                  <nz-tag  style="margin-bottom: 1%" [nzColor]="'#aaaaaa'" *ngFor="let child of data.child_disease"
                           (click)="getKnowledge(child.Id)">
                    {{child.Name}}
                  </nz-tag>
                </td>
              </tr>
            </ng-template>

            </tbody>
          </nz-table>
          <br>
          <br>
          <!--<div nz-row [nzType]="'flex'" [nzJustify]="'center'">
            <div class="height-300">
              <nz-tag  style="margin-bottom: 1%" [nzColor]="'cyan'" *ngFor="let symptom of Symptomes" (click)="selectSymptom(symptom)">
                {{symptom.Name}}
              </nz-tag>
            </div>

          </div>-->

          <br>
          <br>

          <div nz-row>
            <button nz-button [nzType]="'default'" style="left: 20%" routerLink="../">
              重新选择部位
            </button>
            <button  nz-button [nzType]="'default'" style="left: 22%" routerLink="../result_loop">
              重新选择症状
            </button>
          </div>
        </div>
        <div nz-col [nzSpan]="4">

        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
